<a href="https://colab.research.google.com/github/Yezz1n/ESAA_OCT/blob/main/ESAA_6th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#datetime  오브젝트

:날짜와 시간을 처리하는 등의 다양한 기능을 제공하는 파이썬 라입러리

- date오브젝트:날짜처리

- time오브젝트:시간처리

- datetime오브젝트:시간과 날짜 모두 처리
 - 시간 계산이 가능

In [5]:
import pandas as pd
from datetime import datetime

#현재 시간 출력하기

now1=datetime.now()
print(now1)


now2=datetime.today()
print(now2)

2022-10-08 03:06:49.160553
2022-10-08 03:06:49.160868

In [6]:
#시간 직접 입력하여 인자로 전달
t1=datetime.now()
t2=datetime(1970,1,1)
t3=datetime(1970,12,12,13,24,34)
print(t1);print(t2);print(t3)


#now메서드는 밀리초 단위까지 구한다

2022-10-08 03:06:49.343059
1970-01-01 00:00:00
1970-12-12 13:24:34

In [7]:
diff1=t1-t2
print(diff1)
print(type(diff1))


diff2=t2-t1
print(diff2)
print(type(diff2))

19273 days, 3:06:49.343059
<class 'datetime.timedelta'>
-19274 days, 20:53:10.656941
<class 'datetime.timedelta'>

In [8]:
#테슬라 주식 데이터로 시간 계산하기(!붙여서 불러온다)
!pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)

In [9]:
#get_data_annual 메서드에 TSLA라는 문자열 전달해 주식 데이터 저장하기
pd.core.common.is_list_like=pd.api.types.is_list_like
import pandas_datareader as pdr


#tesla에 데이터 프레임이 저장
tesla = pdr.get_data_quandl('TSLA', api_key = 'tp3x47sKCu1s3NJpeJ8H')

#tesla에 저장된 데이터프레임을 파일로 저장
tesla.to_csv('/content/sample_data/tesla_stock_quandl.csv')

In [10]:
#tesla 데이터프레임의 Date열은 문자열로 저장되어 있어 datetime 오브젝트로 자료형 변환해야  시간계산 가능
print(tesla.head())

#Date열을 Datetime으로 변환하기->read_csv메서드로 데이터 집합을 불러올 때 parse_dates인자에 Date열을 전달
tesla=pd.read_csv('/content/sample_data/tesla_stock_quandl.csv',parse_dates=[0])
print(tesla.info())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        116 non-null    datetime64[ns]
 1   Open        116 non-null    float64
 2   High        116 non-null    float64
 3   Low         116 non-null    float64
 4   Close       116 non-null    float64
 5   Volume      116 non-null    float64
 6   ExDividend  116 non-null    float64
 7   SplitRatio  116 non-null    float64
 8   AdjOpen     116 non-null    float64
 9   AdjHigh     116 non-null    float64
 10  AdjLow      116 non-null    float64
 11  AdjClose    116 non-null    float64
 12  AdjVolume   116 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 11.9 KB
None

In [11]:
tesla.head()

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
0,2018-03-27,304.00,304.27,277.18,279.18,13696168.0,0.0,1.0,304.00,304.27,277.18,279.18,13696168.0
1,2018-03-26,307.34,307.59,291.36,304.18,8324639.0,0.0,1.0,307.34,307.59,291.36,304.18,8324639.0
2,2018-03-23,311.25,311.61,300.45,301.54,6600538.0,0.0,1.0,311.25,311.61,300.45,301.54,6600538.0
3,2018-03-22,313.89,318.82,308.18,309.10,4914307.0,0.0,1.0,313.89,318.82,308.18,309.10,4914307.0
4,2018-03-21,310.25,322.44,310.19,316.53,5927881.0,0.0,1.0,310.25,322.44,310.19,316.53,5927881.0

In [12]:
#Date자료형이 datetime오브젝트로 변환됨->dt접근자 이용
print(tesla.loc[(tesla.Date.dt.year == 2017) & (tesla.Date.dt.month == 10)])

          Date    Open      High       Low   Close     Volume  ExDividend  \
99  2017-10-31  320.23  331.9500  320.1800  331.53  5532647.0         0.0
100 2017-10-30  319.18  323.7800  317.2500  320.08  4236029.0         0.0
101 2017-10-27  319.75  324.5900  316.6600  320.87  6942493.0         0.0
102 2017-10-26  327.78  330.2300  323.2000  326.17  4980316.0         0.0
103 2017-10-25  336.70  337.5000  323.5600  325.84  8547764.0         0.0
104 2017-10-24  338.80  342.8000  336.1600  337.34  4463807.0         0.0
105 2017-10-23  349.88  349.9500  336.2500  337.02  5715817.0         0.0
106 2017-10-20  352.69  354.5500  344.3400  345.10  4888221.0         0.0
107 2017-10-19  355.56  357.1465  348.2000  351.81  5032884.0         0.0
108 2017-10-18  355.97  363.0000  354.1300  359.65  4898808.0         0.0
109 2017-10-17  350.91  356.2200  350.0700  355.75  3280670.0         0.0
110 2017-10-16  353.76  354.4800  347.1600  350.60  5353262.0         0.0
111 2017-10-13  356.98  358.4900  353.6800  355.57  3528413.0         0.0
112 2017-10-12  352.95  359.7800  352.6400  355.68  4047318.0         0.0
113 2017-10-11  353.89  357.6000  351.1500  354.60  4476769.0         0.0
114 2017-10-10  346.80  355.6300  345.5305  355.59  6914972.0         0.0
115 2017-10-09  349.65  351.7500  342.6700  342.94  7406324.0         0.0

     SplitRatio  AdjOpen   AdjHigh    AdjLow  AdjClose  AdjVolume
99          1.0   320.23  331.9500  320.1800    331.53  5532647.0
100         1.0   319.18  323.7800  317.2500    320.08  4236029.0
101         1.0   319.75  324.5900  316.6600    320.87  6942493.0
102         1.0   327.78  330.2300  323.2000    326.17  4980316.0
103         1.0   336.70  337.5000  323.5600    325.84  8547764.0
104         1.0   338.80  342.8000  336.1600    337.34  4463807.0
105         1.0   349.88  349.9500  336.2500    337.02  5715817.0
106         1.0   352.69  354.5500  344.3400    345.10  4888221.0
107         1.0   355.56  357.1465  348.2000    351.81  5032884.0
108         1.0   355.97  363.0000  354.1300    359.65  4898808.0
109         1.0   350.91  356.2200  350.0700    355.75  3280670.0
110         1.0   353.76  354.4800  347.1600    350.60  5353262.0
111         1.0   356.98  358.4900  353.6800    355.57  3528413.0
112         1.0   352.95  359.7800  352.6400    355.68  4047318.0
113         1.0   353.89  357.6000  351.1500    354.60  4476769.0
114         1.0   346.80  355.6300  345.5305    355.59  6914972.0
115         1.0   349.65  351.7500  342.6700    342.94  7406324.0

In [13]:
#datetime오브젝트를 인덱스로 설정해 데이터를 추출하기
tesla.index=tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-10-20', '2017-10-19', '2017-10-18', '2017-10-17',
               '2017-10-16', '2017-10-13', '2017-10-12', '2017-10-11',
               '2017-10-10', '2017-10-09'],
              dtype='datetime64[ns]', name='Date', length=116, freq=None)

In [14]:
#인덱스 활용해 2017년 데이터 추출
print(tesla['2017'].iloc[:5,:5])

#2017년 10월 추출
print(tesla['2017-10'].iloc[:,:5])

                 Date    Open      High     Low   Close
Date
2017-12-29 2017-12-29  316.18  316.4100  310.00  311.35
2017-12-28 2017-12-28  311.75  315.8200  309.54  315.36
2017-12-27 2017-12-27  316.00  317.6800  310.75  311.64
2017-12-26 2017-12-26  323.83  323.9400  316.58  317.29
2017-12-22 2017-12-22  329.51  330.9214  324.82  325.20
                 Date    Open      High       Low   Close
Date
2017-10-31 2017-10-31  320.23  331.9500  320.1800  331.53
2017-10-30 2017-10-30  319.18  323.7800  317.2500  320.08
2017-10-27 2017-10-27  319.75  324.5900  316.6600  320.87
2017-10-26 2017-10-26  327.78  330.2300  323.2000  326.17
2017-10-25 2017-10-25  336.70  337.5000  323.5600  325.84
2017-10-24 2017-10-24  338.80  342.8000  336.1600  337.34
2017-10-23 2017-10-23  349.88  349.9500  336.2500  337.02
2017-10-20 2017-10-20  352.69  354.5500  344.3400  345.10
2017-10-19 2017-10-19  355.56  357.1465  348.2000  351.81
2017-10-18 2017-10-18  355.97  363.0000  354.1300  359.65
2017-10-17 2017-10-17  350.91  356.2200  350.0700  355.75
2017-10-16 2017-10-16  353.76  354.4800  347.1600  350.60
2017-10-13 2017-10-13  356.98  358.4900  353.6800  355.57
2017-10-12 2017-10-12  352.95  359.7800  352.6400  355.68
2017-10-11 2017-10-11  353.89  357.6000  351.1500  354.60
2017-10-10 2017-10-10  346.80  355.6300  345.5305  355.59
2017-10-09 2017-10-09  349.65  351.7500  342.6700  342.94

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """

In [15]:
#시간 간격을 인덱스로 지정해 데이터 추출하기
#Date열에서 Date열의 최솟값을 빼면  데이터를 수집한 이후 시간 얼마나 흘렀는지 확인할 수 있다,

tesla['ref_date']=tesla['Date']-tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 169 days
2018-03-26 168 days
2018-03-23 165 days
2018-03-22 164 days
2018-03-21 163 days

In [16]:
#ref_date를 열로 지정
tesla.index=tesla['ref_date']
print(tesla.iloc[:5,:5])

               Date    Open    High     Low   Close
ref_date
169 days 2018-03-27  304.00  304.27  277.18  279.18
168 days 2018-03-26  307.34  307.59  291.36  304.18
165 days 2018-03-23  311.25  311.61  300.45  301.54
164 days 2018-03-22  313.89  318.82  308.18  309.10
163 days 2018-03-21  310.25  322.44  310.19  316.53

In [17]:
#데이터 수집 이후 최초 5일의 데이터 추출
print(tesla['5 days':].iloc[:5,:5])

               Date    Open    High       Low   Close
ref_date
4 days   2017-10-13  356.98  358.49  353.6800  355.57
3 days   2017-10-12  352.95  359.78  352.6400  355.68
2 days   2017-10-11  353.89  357.60  351.1500  354.60
1 days   2017-10-10  346.80  355.63  345.5305  355.59
0 days   2017-10-09  349.65  351.75  342.6700  342.94

####시간 범위와 인덱스

데이터를 수집 못한 날이 있을 수 있어 특정 일에 누락된 데이터 포함시킬 때는 임의로 시간범위를 생성하여 인덱스를 지정

In [18]:

from google.colab import files
myfile = files.upload()

Saving country_timeseries.csv to country_timeseries (1).csv

In [19]:
ebola = pd.read_csv('country_timeseries.csv', parse_dates=[0])

print(ebola.iloc[:5,:5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

In [20]:
#뒤쪽 누락 데이터 확인
print(ebola.iloc[-5:,:5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

In [22]:
from pandas.io.stata import DatetimeIndex
#date_range메서드 사용하여 특정 기간 사이 시간 인덱스 생성
head_range=pd.date_range(start='2014-12-31',end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [23]:
#원본 데이터 손상 방지 ebola 데이터프레임 앞쪽 5개 데이터 추출하여 새로운 데이터프레임 생성
#반드시 Date열을 인덱스로 지정한 다음 이전 과정에서 생성한 시간 범위를 인덱스로 지정
ebola_5=ebola.head()
ebola_5.index=ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5,:5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0

###시간 범위의 주기 설정하기
시간 범위를 인덱스로 지정하면 DatetimeIndex 자료형이 만들어진다.
Datetimeiindex에는 freq 속성이 포함되어 있다. freq속성값 지정 시 시간간격을 조절하여 DatetimeIndex를 만들 수 있다.

>freq속성 값으로 사용할 수 있는 시간 주기
- B:평일만 포함
- C:사용자가 정의한 평일만 포함
- D: 달력 일자 단위
- W:주간 단위
- M:월 마지막 날만 포함
- SM:15일과 월 마지막 날만 포함
- BM: M 주기의 값이 휴일이면 제외하고 평일만 포함
- CBM: BM에 사용자 정의 평일을 적용
- MS: 월 시작일만 포함
- SMS:월 시작일과 15일만 포함
- BMS:MS 주기의 값이 휴일이면 제외하고 평일만 포함
- CBMS: BMS에 사용자 정의 평일을 적용
- Q:3,6,9,12월 분기 마지막 날만 포함
- BQ: 3,6,9,12월 분기 마지막 날이 휴일이면 제외하고 평일만 포함
- QS: 3,6,9,12월 분기 시작일만 포함
- BQS: 3,6,9,12월 분기 시작일이 휴일이면 제외하고 평일만 포함
- A:년의 마지막 날만 포함
- BA: 년의 마지막 날이 휴일이면 제외하고  평일만  포함
- AS:년의 시작일만 포함
- BAS:년의 시작일이 휴일이면 제외하고 평일만 포함
- BH: 평일을 시간 단위로 포함(09:00~16:00)
- H:시간 단위로 포함(00:00~00:00)
- T:분 단위 포함
- S: 초 단위 포함
- L: 밀리초 단위 포함
- U: 마이크로초 단위포함
- N: 나노초 단위 포함